*{
    padding: 0px;
    margin:  0px;
}
#mainContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    margin: 0px auto;
    align-items: center;
    /* justify-content: center; */
}
header h1{
    color: rgb(31, 26, 26);
}
#navbar a{
text-decoration: none;
color: red;
}
#content{
    margin-top: 100px;
}
